.um-page-account {
    &.um-page {
        .um-profile {
            .um-cover {
                display: none !important;
            }
            .um-header {
                position: relative;
                min-height: unset;
                padding: 22px 24px;
                border: none;
                border-radius: 16px;
                box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05), 0px 0px 1px 0px rgba(12, 26, 75, 0.24);
                margin-bottom: 20px;
                .um-profile-edit {
                    display: none !important;
                }
                .um-profile-photo {
                    display: block;
                    float: none;
                    position: relative;
                    width: 100% !important;
                    margin: 0;
                    text-align: left !important;
                    a.um-profile-photo-img {
                        display: block;
                        width: 48px !important;
                        height: 48px !important;
                        top: unset !important;
                        position: relative;
                        float: none;
                        border: none !important;
                        .um-profile-photo-overlay {
                            display: none !important;
                        }
                    }
                    .um-dropdown {
                        display: block !important;
                        width: unset !important;
                        background: none;
                        border-radius: 0;
                        border: none;
                        box-shadow: none;
                        top: 50% !important;
                        right: 0 !important;
                        left: unset !important; 
                        transform: translateY(-50%);
                        .um-dropdown-hide {
                            display: none !important;
                        }
                        .um-dropdown-arr {
                            display: none !important;
                        }
                        li {
                            a {
                                display: flex; 
                                align-items: center;
                                padding: 5px 0;
                                font-size: 0.75rem;
                                font-weight: 700;
                                line-height: 16px;
                                color: var(--heading);
                                position: relative;
                                &::before {
                                    content: "";
                                    display: block;
                                    width: 12px;
                                    height: 13px;
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    margin-right: 10px;
                                }
                                &.um-reset-profile-photo {
                                    display: none;
                                }
                            }
                            .um-manual-trigger {
                                position: relative;
                                display: flex; 
                                align-items: center;
                                &::before {
                                    background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.375 6.55984C0.582107 6.55984 0.75 6.71289 0.75 6.90169V9.29466C0.75 9.67226 1.08579 9.97837 1.5 9.97837H10.5C10.9142 9.97837 11.25 9.67226 11.25 9.29466V6.90169C11.25 6.71289 11.4179 6.55984 11.625 6.55984C11.8321 6.55984 12 6.71289 12 6.90169V9.29466C12 10.0499 11.3284 10.6621 10.5 10.6621H1.5C0.671573 10.6621 0 10.0499 0 9.29466V6.90169C0 6.71289 0.167893 6.55984 0.375 6.55984Z' fill='%2318181A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.74999 4.40859C3.89644 4.5421 4.13388 4.5421 4.28032 4.40859L5.99999 2.84093L7.71967 4.40861C7.86611 4.54211 8.10355 4.54211 8.24999 4.40861C8.39644 4.27511 8.39644 4.05866 8.24999 3.92516L6.26516 2.11575C6.11871 1.98225 5.88128 1.98225 5.73483 2.11575L3.74999 3.92514C3.60355 4.05864 3.60355 4.27509 3.74999 4.40859Z' fill='%2318181A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 2.4576C6.20711 2.4576 6.375 2.61066 6.375 2.79946V8.2691C6.375 8.4579 6.20711 8.61095 6 8.61095C5.79289 8.61095 5.625 8.4579 5.625 8.2691V2.79946C5.625 2.61066 5.79289 2.4576 6 2.4576Z' fill='%2318181A'/%3E%3C/svg%3E ");
                                }
                            }
                        }
                    }
                }
                .um-profile-meta {
                    display: inline-block;
                    position: absolute;
                    top: 25px;
                    left: 88px;
                    .um-name a {
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 20px;
                        color: var(--heading);
                    }
                }
            }
            .um-profile-nav {
                display: none !important;
            }
            .um-profile-body {
                max-width: 100% !important;
                &::before {
                    display: block;
                    content: "Business Information";
                    font-weight: 700;
                    font-size: 1rem;
                    line-height: 125%;
                }
                .um-col-alt {
                    .um-center {
                        text-align: right;
                    }
                    .um-button {
                        background: var(--accent-1) !important;
                        border: 1px solid var(--accent-1) !important;
                        color: var(--background-secondary) !important;
                        padding: 12px 20px !important;
                        border-radius: 6px !important;
                        font-size: 12px !important;
                        font-weight: 700 !important;
                        line-height: 133.333% !important;
                        transition: 0.3s all ease;
                        min-width: unset !important;
                        &:hover, &:focus {
                            background: var(--accent-1-dark) !important;
                            border: 1px solid var(--accent-1-dark) !important;
                            color: var(--background-secondary) !important;
                        }
                    }
                }
            }
            .um-field {
                padding: 24px 0 0 0;
                label {
                    font-size: 0.625rem; 
                    font-weight: 500; 
                    line-height: normal; 
                }
                input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], select {
                    display: flex;
                    align-items: center;
                    background: #FFF;
                    border: 1px solid var(--input-border-color) !important;
                    border-radius: 6px !important;
                    box-shadow: var(--input-shadow) !important;
                    width: 100% !important;
                    height: 36px !important;
                    padding: 11px 16px 11px 16px !important;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 13px;
                    &::placeholder {
                        color: var(--input-placeholder-color);
                    }
                }
            }
        }
    }
}