.checklist-outer {
    .title-and-count {
        display: grid;
        grid-template-columns: 70% 30%;
    }
}
#account-checklist {
    display: flex;
    flex-direction: column;
    order: 4;
    label {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        input {
            pointer-events: none;
        }
    }
}
#checklist-percentage {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 100%;
    height: 12px;
    border-radius: 2em;
    overflow: hidden;
    background-color: #EDF2F7;
    span {
        &.active {
            background-color: var(--accent);
            &.final {
                border-top-right-radius: 2em;
                border-bottom-right-radius: 2em;
            }
        }
    }
}