.checklist-outer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 24px;
    width: 100%;
    .checklist-icon {
        opacity: 0;
        background-color: transparent;
        width: 0px;
        height: 0px;
        border-radius: 50%;
        display: grid;
        place-content: center;
        transition: opacity 0.2s ease-in-out 0.3s, background-color 0.2s ease-in-out 0.3s, height 0.2s ease-in-out 0.3s, margin-bottom 0.2s ease-in-out 0s;
    }
    .percentage {
        font-size: 0.688rem;
        width: 100%;
        overflow: hidden;
        color: var(--accent-1);
        opacity: 1;
        font-weight: 700;    
        margin: 0 auto 8px 0;
        transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
    .title-and-count {
        display: flex;
        position: relative;
        width: 100%;
        color: var(--heading);
        font-weight: 500;    
        margin-bottom: 1px;
        p {
            margin: 0;
            font-size: .875rem;
            opacity: 1;
            white-space: nowrap;
            transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out;    
        }
        .fraction {
            background-color: var(--accent-2);
            border-radius: 2em;
            height: 20px;
            max-width: 39px;
            text-align: center;
            font-size: .75rem;
            padding: 0px 10px;
            display: flex;
            align-items: center;
            color: var(--accent-1);
            font-weight: 700;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    p {
        width: 100%;
    }
    .checklist-progress-bar {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        width: 100%;
        height: 12px;
        border-radius: 2em;
        overflow: hidden;
        background-color: var(--borders);
        margin-right: auto;
        transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
        span {
            &.active {
                background-color: var(--accent-1);
                &.final {
                    border-top-right-radius: 2em;
                    border-bottom-right-radius: 2em;
                }
            }
        }
    }
}
#account-checklist {
    display: flex;
    flex-direction: column;
    order: 4;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    white-space: nowrap;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out 0s;
    .checklist-item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        position: relative;
        label {
            pointer-events: none;
            font-size: 0.75rem;
            display: flex;
            align-items: center;
            &:before {
                content: "";
                width: 14px;
                height: 14px;
                border-radius: 50%;
                border: 1px solid var(--heading);
                position: absolute;
                left: 0;
            }
        }
        input {
            pointer-events: none;
            margin-right: 10px;
            opacity: 0;
            &:checked {
                ~ label {
                    color: var(--accent-1);
                    &:before {
                        background-color: var(--accent-1);
                        background-image: url("data:image/svg+xml,%3Csvg width='7' height='6' viewBox='0 0 7 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.57021 0.632554C5.79903 0.403732 6.17003 0.403732 6.39885 0.632554C6.62487 0.858571 6.62764 1.22329 6.40717 1.45271L3.28826 5.35135C3.28375 5.35698 3.27894 5.36235 3.27385 5.36744C3.04503 5.59627 2.67403 5.59627 2.44521 5.36744L0.377672 3.29991C0.148849 3.07109 0.148849 2.70009 0.377672 2.47127C0.606495 2.24244 0.97749 2.24244 1.20631 2.47127L2.84187 4.10683L5.55467 0.650082C5.55949 0.643934 5.56468 0.638081 5.57021 0.632554Z' fill='white'/%3E%3C/svg%3E");
                        background-position: center;
                        background-size: 8px;
                        background-repeat: no-repeat;
                        border: none;
                    }
                }
            }
        }
    }
}
.menu-closed {
    @media (min-width: 782px) {
        #account-checklist {
            opacity: 0;
            max-height: 0;
            transition: opacity 0.3s ease-in-out, max-height 0s ease-in-out 0.3s;
        }
        .checklist-outer {
            .checklist-icon {
                opacity: 1;  
                width: 18px;
                height: 18px;
                background-color: var(--accent-1);       
                margin-bottom: 6px;
                transition: opacity 0.2s ease-in-out 0.3s, background-color 0.2s ease-in-out 0.3s, height 0.2s ease-in-out 0.3s, margin-bottom 0.2s ease-in-out 0.3s;
            }
            .title-and-count {
                > p {
                    opacity: 0;
                    width: 0%;
                }
            }
            .percentage {
                width: 0%;
                opacity: 0;
            }
            .checklist-progress-bar {
                opacity: 0;
            }
        }
    }
}