.add-staff-outer {
    max-width: 730px;
    margin: 0 auto 10px;
    .add-row-button-outer {
        display: flex;
        justify-content: flex-end;
    }
    .staff-list {
        margin-top: 30px;
        #staff-table_wrapper {
            > .dt-layout-row:first-child {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row-reverse;
                margin-bottom: 15px;
            }
        }
    }
}