.dt-container {
    .dt-layout-row {
        &:last-child {
            display: flex;
            justify-content: space-between;
            > .dt-layout-cell {
                max-width: max-content;
                button {
                    background-color: transparent;
                    color: var(--text-1);
                    &:not(.first):not(.last):not(.previous):not(.next) {
                        padding: 0 10px;
                    }
                    &.first {
                        font-size: 0;
                        padding: 0 10px 0 0;
                        &::before {
                            content: 'First';
                            font-size: 0.7rem;
                            border-bottom: 1px solid var(--accent);
                        }
                    }
                    &.last {
                        font-size: 0;
                        padding: 0 0 0 10px;
                        &::before {
                            content: 'Last';
                            font-size: 0.7rem;
                            border-bottom: 1px solid var(--accent);
                        }
                    }
                    &.current {
                        color: var(--accent-1);
                    }
                    &:nth-child(2) {
                        background-color: transparent;
                        border: 1px solid var(--accent);
                        border-radius: 2rem;
                        color: var(--accent);
                        min-width: 54px;
                        font-size: 0;
                        &::before {
                            content: 'Prev';
                            font-size: 0.6rem;
                        }
                    }
                    &:nth-last-child(2) {
                        background-color: transparent;
                        border: 1px solid var(--accent);
                        border-radius: 2rem;
                        color: var(--accent);
                        min-width: 54px;
                        font-size: 0;
                        &::before {
                            content: 'Next';
                            font-size: 0.6rem;
                        }
                    }
                }
            }
        }
    }
    .dt-layout-table {
        table {
            border-left: none;
            tr {
                height: 52px;
            }
            thead {
                tr {
                    background-color: var(--background-tertiary);  
                    th {
                        text-align: left;
                        border-right: none;
                        border-left: none;
                    }            
                }
            }
            tbody {
                tr {
                    &:nth-child(2n + 1) {
                        background-color: var(--background-secondary);
                    }
                    &:nth-child(2n + 2) {
                        background-color: var(--background-tertiary);
                    }
                    td {
                        border-right: none;
                        border-left: none;
                        position: relative;
                        &.actions {
                            cursor: pointer;
                            .action-ellipses {
                                display: flex;
                                flex-direction: column;
                                > span {
                                    background-color: var(--text-1);
                                    width: 4px;
                                    height: 4px;
                                    display: inline-block;
                                    border-radius: 50%;
                                    &:nth-child(2) {
                                        margin: 2px 0;
                                    }
                                }
                            }
                            > ul {
                                position: absolute;
                                background-color: #fff;
                                margin: 0;
                                padding: 15px;
                                width: 100%;
                                left: 0;
                                z-index: 100;
                                list-style: none;
                                box-shadow: 0 0 10px 0px rgba(0,0,0,0.1);
                                border-radius: 6px;
                                li {
                                    font-size: 0.9rem;
                                    line-height: 25px;
                                    &:hover {
                                        background-color: var(--background-tertiary);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}