.dt-container {
    .dt-layout-row {
        .hidden-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 53px;
            padding: 15px;
            > div {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                p, a {
                    font-size: 0.875rem;
                }
                .customer-notes {
                    width: 100%;
                }
                .customer-details {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                }
                .vehicle-details {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    > p {
                        text-transform: uppercase;
                        width: 50%;
                    }
                }
            }
        }
        &:last-child {
            > .dt-layout-cell {
                padding: 19px 24px;
                button {
                    background-color: transparent;
                    color: var(--text-2);
                    &:not(.first):not(.last):not(.previous):not(.next) {
                        padding: 0 5px;
                    }
                    &.current {
                        color: var(--accent-1);
                    }
                    &.first, &.last {
                        display: none;
                    }
                    &.previous, &.next {
                        border: 1px solid var(--accent);
                        border-radius: 2rem;
                        color: var(--accent);
                        min-width: 54px;
                        font-size: 0.625rem;
                        font-weight: 700;
                        line-height: 100%; 
                        letter-spacing: -0.05px; 
                        margin-left: 5px;
                        margin-right: 5px;
                        transition: all 0.3s ease;
                        &:hover {
                            background-color: var(--accent);
                            color: var(--background-secondary);
                        }
                    }
                    &[aria-current="page"] {
                        color: var(--accent);
                    }
                }
            }
        }
        .dt-info {
            font-size: 0.875rem; 
            font-weight: 400;
            line-height: 164.286%;
        }
    }
    .dt-layout-table {
        table { 
            width: 100% !important;
            border-left: none;
            margin-bottom: 0;
            border-color: #EDF2F9;
            thead {
                tr {
                    background-color: var(--background-tertiary);  
                    th {
                        text-align: left;
                        border-right: none;
                        border-left: none;
                        padding: 18px 16px;
                        font-size: 0.625rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 160%;
                        letter-spacing: 0.6px;
                        text-transform: uppercase;
                        color: var(--table-head-text);
                        &.actions {
                            text-align: right;
                        }
                    }          
                }
            }
            tbody {
                tr {
                    background-color: var(--background-secondary);
                    td {
                        border-right: none;
                        border-left: none;
                        position: relative;
                        font-size: 0.875rem;
                        font-weight: 500;
                        line-height: 142.857%; 
                        padding: 16px; 
                        color: var(--text-1);
                        &[colspan="9"] {
                            background-color: var(--background-primary);
                        }
                        &.actions {
                            cursor: pointer;
                            text-align: right;
                            .action-ellipses {
                                display: inline-flex;
                                flex-direction: column; 
                                align-items: center;
                                width: 24px;
                                > span {
                                    background-color: var(--text-1);
                                    width: 4px;
                                    height: 4px;
                                    display: inline-block;
                                    border-radius: 50%;
                                    &:nth-child(2) {
                                        margin: 2px 0;
                                    }
                                }
                            }
                            > ul {
                                position: absolute;
                                background-color: #fff;
                                margin: 0;
                                padding: 15px;
                                width: 100%;
                                left: 0;
                                z-index: 100;
                                list-style: none;
                                box-shadow: 0 0 10px 0px rgba(0,0,0,0.1);
                                border-radius: 6px;
                                li {
                                    font-size: 0.9rem;
                                    line-height: 25px;
                                    &:hover {
                                        background-color: var(--background-tertiary);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.datatable-wrapper {
    display: block;
    border-radius: 0 0 16px 16px;
    background: var(--background-secondary);
    box-shadow: 0px 0px 1px 0px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
}

