#masthead {
    height: 100vh;
    max-width: 250px;
    flex-wrap: wrap;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
    overflow: hidden;
    border: 1px solid var(--borders);
    transition: max-width 0.3s ease-in-out;
    #burger-menu svg {
        cursor: pointer;
        margin-bottom: 14px;
    }
    .inside-header {
        flex-wrap: wrap;
        padding: 0 25px;
        height: 100%;
        align-items: flex-start;
        .site-branding-container {
            flex-wrap: wrap;
            .site-branding {
                a {
                    opacity: 1;
                    transition: all 0.2s ease-in-out;
                }
            }
            #burger-menu {
                width: 100%;
            }
        }
        .header-scroll-content-outer {
            width: 100%;
            height: calc(100% - 127px);
            position: relative;
            .header-scroll-content {
                overflow-y: auto;
                height: calc(100% - 180px);
            }
            .menu-main-menu-container {
                margin-left: 0;
                margin-bottom: 30px;
                width: 100%;
                border-bottom: 1px solid var(--borders);
                padding-bottom: 30px;
                ul {
                    list-style: none;
                    margin: 0;
                    padding-left: 0;
                    li {
                        position: relative;
                        .current-menu-item {
                            a {
                                color: var(--accent-1);
                            }
                        }
                        a {
                            padding: 0;
                            display: flex;
                            align-items: center;
                            line-height: 34px;
                            text-decoration: none;
                            color: var(--text-1);
                            span {
                                opacity: 1;
                                transition: opacity 0.2s ease-in-out;                                
                            }
                            svg {
                                margin-right: 20px;
                                transition: margin-right 0.3s ease-in-out;
                                min-width: 14px;
                                height: 14px;
                            }
                            &:hover {
                                color: var(--accent-1);
                                svg {
                                    path {
                                        fill: var(--accent-1);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
body.menu-closed {
    #masthead {
        max-width: 90px;
        .inside-header {
            .site-branding-container {
                .site-branding {
                    a {
                        opacity: 0;
                    }
                }
            }
        }
        .header-scroll-content-outer{
            .menu-main-menu-container {
                ul {
                    li {
                        a {
                            span {
                                opacity: 0!important;
                                transition: opacity 0.2s ease-in-out;
                            }
                            svg {
                                margin-right: 0px!important;                            
                            }
                        }
                    }
                }
            }
        }
    }   
}
@media screen and (max-width:768px) {
    #masthead {
        .inside-header {
            flex-direction: unset;
        }
    }
}