.job-select-wrapper.vehicle {
    .vehicle-select {
        position: relative;
        .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;
            h3 {
                margin-bottom: 0;
                color: var(--text-1);
            }
            span {
                display: flex;
                align-items: center;
                &:last-child {
                    color: var(--accent-1);
                    font-size: .75rem;
                    svg {
                        margin-right: 4px;
                    }
                }
            }
        }
        .table-header {
            display: grid;
            grid-template-columns: 1fr 1fr;
            line-height: 52px;
            background-color: var(--background-tertiary);
            padding: 0 16px;
            border-bottom: 1px solid var(--borders);
            span {
                color: var(--text-2);
                font-size: 0.625rem;
            }
        }
        .options {
            margin: 0;
            li {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 0 16px;
                border-bottom: 1px solid var(--borders);
                line-height: 52px;
                font-size: 0.75rem;
                color: var(--text-body-light);
                cursor: pointer;
                &:first-child {
                    font-weight: 700;
                }
                p {
                    margin-bottom: 0;
                }
            }
        }
        .selected-vehicle-outer {
            .vehicle-details {
                display: grid;
                grid-template-columns: repeat(2,1fr);
                border-radius: 0 6px 6px 6px;
                padding: 10px;
                background-color: var(--borders);
                p {
                    margin-bottom: 0;
                    font-size: .875rem;
                    &:first-child {
                        font-weight: 900;
                    }
                }
            }
            .vehicle-name-outer {
                display: flex;
                justify-content: space-between;
                .vehicle-name {
                    padding: 10px 10px 0;
                    background-color: var(--borders);
                    border-radius: 6px 6px 0 0;
                    display: flex;
                    justify-content: space-between;
                    width: calc(100% - 257px);
                    font-size: 0.875rem;
                    font-weight: 900;
                    > p {
                        margin-bottom: 10px;
                        text-transform: uppercase;
                    }
                    .change-vehicle {
                        width: 16px;
                        height: 26px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }
                }
                .add-new-vehicle {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    line-height: 34px;
                    color: var(--accent-1);
                    font-size: .75rem;
                    cursor: pointer;
                    .small-add-icon {
                        background-image: url('data:image/svg+xml,<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="26" height="26" rx="13" fill="%23EDFFEB"/><mask id="mask0_30_12060" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="6" y="6" width="14" height="14"><path fill-rule="evenodd" clip-rule="evenodd" d="M13 9.5C13.2416 9.5 13.4375 9.69588 13.4375 9.9375V12.5625H16.0625C16.3041 12.5625 16.5 12.7584 16.5 13C16.5 13.2416 16.3041 13.4375 16.0625 13.4375H13.4375V16.0625C13.4375 16.3041 13.2416 16.5 13 16.5C12.7584 16.5 12.5625 16.3041 12.5625 16.0625V13.4375H9.9375C9.69588 13.4375 9.5 13.2416 9.5 13C9.5 12.7584 9.69588 12.5625 9.9375 12.5625H12.5625V9.9375C12.5625 9.69588 12.7584 9.5 13 9.5Z" fill="black"/></mask><g mask="url(%23mask0_30_12060)"><rect x="6" y="6" width="14" height="14" fill="%23009026"/></g></svg>');
                        width: 26px;
                        height: 26px;
                        display: inline-block;
                        background-repeat: no-repeat;
                        margin-right: 4px;
                    }
                }
            }
        }
    } 
}

