.svg-loader {
    width:50px;
    height:50px;
    border-radius:50%;
    border:8px solid;
    border-color:#E4E4ED;
    border-right-color: var(--accent-1);
    animation:s2 2s infinite linear;
}
@keyframes s2 {to{transform: rotate(1turn)}}

// Overlay loader 
.overlay-loader { 
    position: relative;
    * {
        opacity: 0.3;
    }
    .svg-loader {
        position: absolute;
        left: calc(50% - 25px);
    }
}