.log-out-link {
    display: flex;
    position: absolute;
    bottom: 14px;
    text-decoration: none;
    p {
        font-size: 0.875rem;
        margin: 0 0 0 14px;
        opacity: 1;
        white-space: nowrap;
        transition: all 0.3s ease-in-out;
    }
}
.menu-closed {
    @media (min-width: 782px) {
        .log-out-link {
            p {
                opacity: 0;
                width: 0;
                height: 0;
            }
        }
    }
}