.onboarding-aside-slider {
    img {
        display: block;
        max-width: 648px; 
        width: 100%;
        height: auto;
        margin: 0 auto 100px;
    }
    p {
        display: block; 
        max-width: 408px;
        width: 100%; 
        margin: 0 auto 100px;
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: -19px;
        li {
            margin: 0 12px;
            width: unset;
            height: unset;
            button {    
                display: block;
                content: "";
                width: 120px;
                height: 9.693px;
                background-color: var(--background-secondary);
                border-radius: 0;   
                &:before {
                    display: none;
                }                             
            } 
            &.slick-active {
                button {
                    background-color: var(--accent-1);
                    &:before {
                        display: none;
                    }   
                }                
            }
        }
               
    }
}
