.table-filters {
    margin: 0;
    .hide-columns {
        svg {
            cursor: pointer;
        }
    }
    .column-states {
        display: flex; 
        flex-wrap: wrap; 
        background-color: var(--background-secondary);
        border-radius: 16px 16px 0 0;
        padding: 15px;
        box-shadow: 0px 0px 1px 0px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
        label {
            font-size: 0.75rem;
            font-weight: 500;
            line-height: 166.667%;
            user-select: none;
            input {
                cursor: pointer;
            }
        }
        &.columns-2 {
            > div {
                min-width: calc(50% - 30px);
                margin: 5px 30px 5px 0;
            }
        }
        &.columns-3 { 
            > div {
                min-width: calc(33.33% - 30px);
                margin: 5px 30px 5px 0;
            }
        }
        &.columns-4 { 
            > div {
                min-width: calc(25% - 30px);
                margin: 5px 30px 5px 0;
            }
        }
        &.columns-5 { 
            > div {
                min-width: calc(20% - 30px);
                margin: 5px 30px 5px 0;
            }
        }
        &.columns-6 {
            > div {
                min-width: calc(16.66% - 30px);
                margin: 5px 30px 5px 0;
            }
        }
        &.columns-7 { 
            > div {
                min-width: calc(14.28% - 30px);
                margin: 5px 30px 5px 0;
            }
        }
        &.columns-8 { 
            > div {
                min-width: calc(12.5% - 30px);
                margin: 5px 30px 5px 0;
            }
        }
    }
    .filter-dropdowns {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-bottom: 16px;
    }
    .select-wrapper {
        position: relative;
        cursor: pointer;
        &:nth-child(2) {
            margin: 0 8px;
        }
        .value {
            display: flex;
            align-items: center;
            background: #fff;
            border: 1px solid var(--input-border-color);
            border-radius: 6px;
            box-shadow: var(--input-shadow);
            width: 100%;
            height: 36px;
            padding: 11px 16px;
            font-size: 13px;
            font-weight: 500;
            line-height: 13px;
        }
        p {
            margin-bottom: 0;
        }
        .options {
            display: flex;
            flex-direction: column;
            max-height: 0;
            overflow: hidden;
            position: absolute;
            background-color: #fff;
            padding: 0 10px;
            border-radius: 6px;
            box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
            z-index: 9999;
            width: 100%;
            cursor: pointer;
        }
        &.active {
            .options {
                transition: max-height 0.3s ease-in-out;
                padding: 10px;
                max-height: 500px;
            }
        }
    }
}

