.um-page {
    &.um-page-login, &.um-page-register {
        background: linear-gradient(
            to right, 
            var(--background-secondary) 0%, 
            var(--background-secondary) 50%, 
            var(--background-primary) 50%, 
            var(--background-primary) 100%
        );
        .container {
            background: linear-gradient(
                to right, 
                var(--background-secondary) 0%, 
                var(--background-secondary) 50%, 
                var(--background-primary) 50%, 
                var(--background-primary) 100%
            );
        }
    }
    .um {
        // Login Page
        &.um-login {
            max-width: 100% !important;
        }
    
        // Register Page 
        &.um-page-register {
            max-width: 100% !important;
        }
        // .um-form {
        //     .um-row {
        //         display: flex;
        //         flex-wrap: wrap;
        //         margin-right: -25px;
        //         margin-left: -25px;
        
        //         [class^='um-col-'] {
        //             position: relative;
        //             width: 100%;
        //             min-height: 1px;
        //             padding-right: 25px;
        //             padding-left: 25px;
        //             flex-grow: 1;
        //             flex-basis: 0;
        //             max-width: 100%;
        //         }
        //     }
        // }
    }
}

.login-wrapper {
    background-color: var(--background-primary);
    border: 1px solid #EDF2F7;
    border-radius: 16px;
    max-width: 500px;
    width: 100%;
    padding: 40px;
    margin: 0 0 30px;
    margin: 0 auto;
    box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05), 0px 0px 1px 0px rgba(12, 26, 75, 0.24);
}