.welcome-section {
    .card-title {
        margin-bottom: 12px;
    }
    .card {
        display: flex;
        figure {
            width: 46px;
            height: 46px; 
            margin: 3px 12px 0px 0px;
        }
        p { 
            display: block;
            color: var(--text-muted);
            width: 100%;
            max-width: calc( 100% - 58px );
            margin: 0;
        }
    }
}