#job-fields {
    .form-row {
        display: flex;
        .input-label-wrapper{
            width: 100%;
            &.labour-name-wrapper {
                max-width: 300px;
            }
            &.description-wrapper {
                max-width: 650px;
            }
            &.unit-price-wrapper {
                max-width: 140px;
            }
            &.quantity-wrapper {
                max-width: 65px;
            }
            &.vat-wrapper {
                max-width: 160px;
            }
            &.line-total-wrapper {
                max-width: 160px;
            }
            &.input-label-wrapper.delete-row {
                max-width: 14px;
            }
        }
    }
}
