#parts-fields {
    .form-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .input-label-wrapper {
            width: 100%;
            &.part-name-wrapper {
                max-width: 270px;
            }
            &.warranty-wrapper {
                max-width: 160px;
            }
            &.cost-price-wrapper {
               max-width: 140px;
            }
            &.markup-wrapper {
               max-width: 140px;
            }
            &.unit-price-wrapper {
                max-width: 140px;
            }
            &.quantity-wrapper {
                max-width: 65px;
            }
            &.vat-wrapper {
                max-width: 101px;
            }
            &.line-total-wrapper {
                max-width: 118px;
            }
        }
    }
}
