#add-vehicle-form, #edit-vehicle-form {
    .form-row {
        .input-label-wrapper {
            width: 100%;
            padding: 0px;
            margin-left: 15px;
            margin-right: 15px;
        }
        textarea {
            min-height: 140px;
        }
    }
}