.jobno-customer-vehicle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .select-wrapper,.job-select-wrapper {
        width: calc(50% - 5px);
    }
    .job-number-outer  {
        width: 100%;
    }
}