table.user-table { 
    width: 100%;
    td {
        padding: 10px;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
    label {
        display: block;
        text-align: left;
        line-height: 1.3;
        font-weight: 600;
        margin-bottom: 10px;
    }
    input {
        width: 100%;
    }
    textarea {
        width: 100%;
        min-height: 75px;
    }
}