.subtitle {
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0;
}
.subtitle {
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0;
}
ol, ul {
    margin: 0 0 1em 1em;
}