
:root {
    //Main
    --accent-1: #009026;
    --accent-2: #EDFFEB;
    --heading: #27272E;
    --text-1: #425466;
    --text-2: #7A7A9D;
    --text-light: #ffffff;
    --background-primary: #F7FAFC;
    --background-secondary: #ffffff;
    --background-tertiary: #FAFAFB;
    --background-light-grey: #EBF2FA;
    --borders: #EDF2F7;

    // more shades 
    --accent-1-dark: #0E4F1F;

    //Shadow
    --container-shadow: rgba(50, 50, 71, 0.15);

    // Forms 
    --input-border-color: rgba(50, 50, 71, 0.08);
    --input-shadow: 0px 1px 2px 0px rgba(50, 50, 71, 0.08);
    --input-placeholder-color: rgba(181, 181, 189, 1);

    // Text 
    --text-muted: #7A7A9D;
    --text-body-light: #425466;
    --text-gray-600: #718096; 
    --text-gray-900: #1A202C;
    --table-head-text: #8492A6;
    
    // Dark Mode
    &[data-theme="dark"] { 
        --accent-1: #009026;
        --accent-2: #EDFFEB;
        --heading: #ffffff;
        --text-1: #ffffff;
        --text-2: #ffffff;
        --text-light: #ffffff;
        --background-primary: #27272E;
        --background-secondary: #1A1A1F;
        --background-tertiary: #1A1A1F;
        --background-light-grey: #1A1A1F;
        --borders: #1A1A1F;
        --input-border-color: rgba(255, 255, 255, 0.08);
        --input-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.08);
        --input-placeholder-color: rgba(255, 255, 255, 0.5);
        --text-muted: #7A7A9D;
        --text-body-light: #425466;
        --text-gray-600: #718096; 
        --text-gray-900: #1A202C;
        --table-head-text: #8492A6;
    }
}