
:root {
    //Main
    --accent-1: #009026;
    --accent-2: #EDFFEB;
    --heading: #27272E;
    --text-1: #425466;
    --text-2: #7A7A9D;
    --text-light: #ffffff;
    --background-primary: #F7FAFC;
    --background-secondary: #ffffff;
    --borders: #EDF2F7;

    //Extras
    --active: #68DBF2;
    --complete: #2ECF88;
    --awaiting: #F7936F;
    --drafts: #FAB592;
    --invoice: #FE6F7E;
    --quotes: #4CAFD0;

    //Shadow
    --container-shadow: rgba(50, 50, 71, 0.15);
}